<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>

<body>
  
    <div class="login-page">
        <div class="login-key">
            <i class="fa fa-user" aria-hidden="true"></i>
        </div>
      <h1>Login Admin</h1>
      <h5 style="color: #029671; width: auto; font-style: normal;" ><center>Halaman ini hanya dapat digunakan oleh Admin untuk mengakses halaman training. Proses training hanya dapat dilakukan oleh Admin.</center></h3>
        <div class="form">
          <form method="POST" action="" class="login-form">
            
            {{ form.hidden_tag() }}
            {{ form.username }}
            {{ form.password }}
            
            <button type="submit" class="submitButton">Login</button>
            <!-- <p class="message">Belum punya  <a href="{{ url_for('register') }}">Create an account</a></p> -->
          </form>
        </div>
      </div>
    <!-- <h1>Login Page</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        
    </form>

    <a href="{{ url_for('register') }}">Don't have an account? Sign Up</a> -->
</body>
<script src="../static/js/login.js"></script> 
</html>