<!DOCTYPE html>
<html id="home">
<head>
	<title>Kulineri</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Aclonica|Lato|Raleway:900|Montserrat:500|Roboto+Mono&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
</head>

<body>
<!-- navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-teal" id="navbar">
	<div class="offset-sm-1">
   <a class="navbar-brand page-scroll" href="#home">
	<h5  style="color: #029671; font-weight: bold"><img alt="TUGAS AKHIR" src="../static/images/ricebowl.svg" width="45" style="margin-right: 100;" class="filter-green">&nbsp;&nbsp;&nbsp;&nbsp;Kulineri</h5>
	<!-- <img alt="TUGAS AKHIR" src="images/usu.png" width="60" height="60"> -->
	</a>
</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item active">
            <a class="nav-link page-scroll" href="/" >Home &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link page-scroll" href="/#testing">User Input  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link page-scroll" href="{{ url_for('training') }}">Training Data  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link page-scroll" href="{{url_for('logout')}}">Logout  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="sr-only">(current)</span></a>
        </li> 
    </ul>
 
  </div>
</nav>
	
<!-- end navbar -->

<!-- jumbotron -->

<!-- end jumbotron -->
<!-- training -->
<section class="training" id="training">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<center>
						<h4>Training Data</h4>
						<h4>Training Data</h4>
						<h5>Silahkan lakukan proses training dengan memasukkan data training agar model dapat belajar mengidentifikasi sentiment suatu rumah makan atau restoran.</h5>
						<h5>Instruksi :</h5>
					</center>
						<h6><ul>
							<li>Admin harus menyiapkan data training dengan ekstensi .csv dan mengikuti format file csv dengan kolom sesuai dengan file <a style="color: #16c4b8;" href="https://drive.google.com/file/d/1_WBIkTt4Ga2Av4m98malZDQ2HJW7XQAh/view?usp=drive_link" target="_blank" rel="noopener noreferrer">berikut ini</a> </li>
							<li>Setelah menyiapkan data, admin meng-upload data tersebut dengan memilih "Choose File" dan pilih "Train Data" </li>
							<li>Proses training akan berlangsung. Setelah proses training selesai, hasil training akan ditampilkan</li>
							<li>Jika admin ingin mencari sentimen terkait suatu rumah makan atau restoran , admin dapat memilih menu "User Input" </li>
							<h1 style="color: white;">.</h1>
						</ul></h6>
					<center>
						<form method="POST" enctype ="multipart/form-data" id="train-form">
							<input type="file" name="file_train" id="file_train">
							<button type="submit" id="train_submit" class="btn btn-primary">Train Data</button>
						</form>
						<div class="load-icon-train" style="display: none;">
							<img src="../static/images/ajax-loader2.gif" alt="Loading..." height="80" width= auto> 
							<h6 style="color: black">Mohon Tunggu. Proses Training sedang berjalan</h6>
 						</div>
 						<!-- <p id="nilai_akurasi_train"></p> -->
					</center>
					<div class="card" id="preproccessing" style="display: none;">
						<div class="card-body">
							<div class="row" id="table_preproccess">
									<div style="font-size: 20px;"><center><b>Tahap Pre-Proccessing</b></center></div>
									<div>
										Pada bagian ini ditampilkan tahapan pre-processing beserta contoh penerapannya pada salah satu kalimat dari data training.
									</div>
									<br><br>
									<table class="table">
										<tr>
											<td class="left"><b>Input</b></td>
											<td class="right" id="text_input"></td>
										</tr>
										<tr>
											<td class="left"><b>Punctuation Removal</b></td>
											<td class="right" id="text_punct"></td>
										</tr>
										<tr>
											<td class="left"><b>Case Folding</b></td>
											<td class="right" id="text_case_folding"></td>
										</tr>
										<tr>
											<td class="left"><b>Tokenisasi</b></td>
											<td class="right" id="text_tokenisasi"></td>
										</tr>
										<tr>
											<td class="left"><b>Stopword Removal</b></td>
											<td class="right" id="text_stopword"></td>
										</tr>
										<tr>
											<td class="left"><b>Stemming</b></td>
											<td class="right" id="text_stemming"></td>
										</tr>
										<tr>
											<td class="left"><b>Convert Slangwords</b></td>
											<td class="right" id="text_c_slang"></td>
										</tr>
										
									</table>
							</div>
						</div>
					</div>
					<div class="card" id="card1" style="display: none;">
						<div class="card-body">
							<div class="row" id="table_training">
									<div style="font-size: 20px;"><center><b>Hasil Training</b></center></div><br><br>
							</div>
							<div class="row">
								<div class="col-sm-6 col-md-6" id="plot_eval_makanan"></div>
								<div class="col-sm-6 col-md-6" id="plot_eval_minuman"></div>
								<div class="col-sm-6 col-md-6" id="plot_eval_pelayanan"></div>
								<div class="col-sm-6 col-md-6" id="plot_eval_tempat"></div>
								<div class="col-sm-6 col-md-6" id="plot_eval_harga"></div>
							</div>
						</div>
					</div>
					<div class="card" id="card2" style="display: none;">
						<div class="card-body">
							<div class="row" id="table_training">
									<div style="font-size: 20px;"><center><b>Confusion Matrix</b></center></div><br><br>
							</div>
							<div class="row">
								<div class="col-sm-6 col-md-6" id="cm_makanan"></div>
								<div class="col-sm-6 col-md-6" id="cm_minuman"></div>
								<div class="col-sm-6 col-md-6" id="cm_pelayanan"></div>
								<div class="col-sm-6 col-md-6" id="cm_tempat"></div>
								<div class="col-sm-6 col-md-6" id="cm_harga"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- end training -->

</body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="../static/js/jquery.easing.1.3.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../static/js/script.js"></script> 
<script type="text/javascript">
	$('.carousel').carousel({
  interval: 1500
})
</script>
</html>